@import url('../fonts/Roboto-Black.ttf');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto-Black', sans-serif;
}

a:hover {
    color: rgb(215, 1, 2) !important;
    text-decoration: none !important;
}

a:focus {
    color: rgb(215, 1, 2) !important;
    text-decoration: none !important;
}

a:active {
    color: rgb(215, 1, 2) !important;
    text-decoration: none !important;
    background-color: rgb(10, 0, 0) !important;
}

.black-background {
    background-color: rgb(10, 0, 0);
    color: rgb(255, 255, 255);
}

.black-background a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.black-background a:hover{
    color: rgb(215, 1, 2) !important;
    text-decoration: none !important;
}

.black-background a:focus{
    color: rgb(215, 1, 2) !important;
    text-decoration: none !important;
}


.black-background > .row{
    padding: 20px 0px;
}

.bottom-div .black-background {
    padding:20px;
}

.address-top {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.top-right-content {
    text-align: right;
}

.top-right-content ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
}

.top-right-content ul a{
    padding: 0 0.5em;
}

.logo-img{
    max-width: 300px;
}

.footer-img{
    max-width: 200px;
}

.footer-text {
    text-align: center;
    color: #2B2A29;
    font-size: 18px;
    font-weight: 400;
}

.footer-menu {
    text-align: center;
    list-style-type: none;
}

.footer-menu a{
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s;
    border: 0;
    border-bottom: #D70102 solid 1px;
}

.footer-right-content {
    display: flex;
    flex-direction: column;
}

.footer-right-item {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.item-social a {
    color: rgb(10, 0, 0);
    font-size: 20px;
    margin: 5px;
}

.item-social a:hover {
    color: #D70102;
    font-size: 20px;
    transform: scale(1.1);
}

.button-link {
    font-size: 26px;
    font-weight: 600;
    fill: #D70102;
    color: #D70102 !important;
    background-color: #FFFFFF !important;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #D70102;
    border-radius: 30px 30px 30px 30px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

.button-link:hover{
    text-decoration: none;
    color: #FFFFFF !important;
    background-color: #D70102 !important;
    transform: scale(1.1);
}

.flex-logo{
    display: flex;
    justify-content: center;
}

.flex-menu {
    display: flex;
    justify-content: space-evenly;
}

.flex-menu > nav{
    width: 100%;
}

.flex-ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.btn-fluid{
    width:100%;
}

.dropdown-menu {
    text-align: center;
}

.display-none{
    display: none;
}

#add-car-form {
    padding: 20px 0px;
}

.filepond--item {
    width: calc(50% - 0.5em);
}

.images-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.image-div {
    padding: 10px;
}

.image-div img {
    width: 200px;
}

.car-div {
    background-color: #f5f5f5;
    display: grid;
    margin-bottom: 20px;
}

.car-img {
    position: relative;
    overflow: hidden;
}

.car-img:after {
    position: relative;
    overflow: hidden;
}

.car-img>a {
    width: 100%;
}

.car-img>a>img {
    width: inherit;
    transition: .5s ease all; 
    object-fit:cover;
    min-height: 250px;
}

.car-img>a>img:hover, .car-img>a>img:active {
    transform: scale(1.1);
}

.car-title {
    padding: 15px;
    text-align: center;
}

.car-title a {
    color: #d70102;
    font-size: 1.75rem;
    text-decoration: none;
}

.car-details {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.car-detail {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.car-price {
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.red-text {
    color: #D70102;
}

.car-more {
    padding: 20px;
}

.car-more a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    background-color: #D70102;
    padding: 10px 20px;
    text-align: center;
}

.car-more a:hover {
    color: #D70102;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #D70102;
}

.title-div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

.title-background-overlay {
    background-color: #2B2A29;
    opacity: 0.7;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 80px 0px;
}

.title-div h1 {
    color: #fff;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.main-img {
    width: 100%;
}

.main-img img {
    width: inherit;
}

.main-div {
    padding-top: 20px;
}

.description-price {
    font-size: 30px;
    padding-left: 20px;
}

.description-details {
    padding-left: 20px;
}

.description-detail {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.vin-div {
    padding: 10px;
    font-size: 30px;
}

.description-div h3{
    font-size: 30px;
}

.description-div p {
    font-size: 20px;
}

.question-message {
    margin: 5px;
    border: 1px #0064ff solid;
    border-radius: 20px;
    padding: 15px;
    margin-left: 25%;
    background: #f6fbff;
}

.answer-message {
    margin: 5px;
    border: 1px #218d00 solid;
    border-radius: 20px;
    padding: 15px;
    margin-right: 25%;
    background: #f6fff9;
}
.message-header {
    display: flex;
    justify-content: space-between;
}

.message-body {
    padding: 10px;
    word-wrap: break-word;
}

.messages-list {
    max-height: 400px;
    overflow-y: auto;
}