@using AutoStoreLib.Models;

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-danger" id="add-car">Add</button>
    </div>
</div>
<div id="add-car-div" class="display-none">
    @await Html.PartialAsync("AddCar")
</div>
<div id="cars-list">
    @foreach (var car in (List<Car>)ViewData["Cars"])
    {
        <h3>@car.Id. @car.Name - @car.Year</h3>
        <div>
            <a href="/Admin/EditCar/@car.Id" type="button" class="btn btn-warning edit">Edit</a>
            <a href="/Admin/DeleteCar/@car.Id" type="button" class="btn btn-danger delete">Delete</a>

            @await Html.PartialAsync("ViewCar", @car)     
            
        </div>
    }    
</div>