@model CallRequestModel;
<div class="call-background row" id="call-request-form">
    <div class="call-background-overlay">
        <form asp-action="CallRequest" method="post" class="container g-3">
            <div class="row">
                <h1 class="call-request-text">
                    Call request
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Name" class="form-label">Enter your name</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label asp-for="PhoneNumber" class="form-label">Enter your phone number</label>
                    <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+380-96-12-34-567" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-danger send-btn">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>