@{
    ViewData["Title"] = "Contacts";
}

<div class="container contacts">
    <h1>Contacts</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Address</h2>
            <a href="https://goo.gl/maps/yNbsnNR4fqyktFWt5" target="_blank">
                <i class="fas fa-map-marker-alt"></i> 94, Vyacheslav Chornovil Street, Rivne, Rivne region, Ukraine, 33000
            </a>
        </div>
        <div class="col-md-6">
            <h2>Phone Numbers</h2>
            <a href="tel:+380680521632">
                <i class="fas fa-phone-alt"></i>&nbsp;&nbsp;+38(068)052-16-32
            </a>
            <br>
            <a href="tel:+380501723530">
                <i class="fas fa-phone-alt"></i>&nbsp;&nbsp;+38(050)172-35-30
            </a>
        </div>
    </div>
    <h2>Follow us on social media</h2>
    <div class="social-links">
        <a href="https://www.facebook.com/profile.php?id=100063924460282" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/auto_of_your_dream/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCZXcAEAB5bnUNx3C7fsABrg" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
        <a href="https://t.me/auto_of_your_dream" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-telegram fa-2x"></i>
        </a>
    </div>
</div>