@{
    ViewData["Title"] = "Home Page";
}
@using AutoStoreLib.Models;
@model List<Car>;

<div class="row">
    <section class="splide" aria-label="Slide Container Example">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <div class="splide__slide__container">
                        <a asp-controller="Home" asp-action="AvailableCars">
                            <img src="~/img/available-cars.jpg" />
                        </a>                     
                    </div>
                    <div class="splide__slide__content">
                        <a asp-controller="Home" asp-action="AvailableCars">Available Cars</a>
                    </div>
                </li>
                <li class="splide__slide">
                    <div class="splide__slide__container">
                        <a href="#call-request-form">
                            <img src="~/img/banner-call-centers.jpg" />
                        </a>
                    </div>
                    <div class="splide__slide__content">
                        <a href="#call-request-form">We'll call you back</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>

<main class="row" style="background: #e04340;padding-top: 15px;color: white;">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4">Welcome to Auto of your Dream</h1>
            <p class="lead">Discover your perfect car from our wide selection</p>
        </div>
    </section>
</main>

@await Html.PartialAsync("CallRequestForm")

@section Scripts{
    <script src="~/node_modules/splidejs/splide/dist/js/splide.min.js"></script>
    <script>
        $(function(){
            new Splide('.splide', {
                type: 'loop',
                perPage: 1,
                perMove: 1,
                autoplay: true,
                interval: 3000,
                speed: 500,
                breakpoints: {
                    640: {
                        perPage: 1,
                    }
                },
                fixedHeight: '700px',
            }).mount();
        });        
    </script>
}

@section Styles{
    <link href="~/node_modules/splidejs/splide/dist/css/splide.min.css" rel="stylesheet" />
    <link href="~/node_modules/splidejs/splide/dist/css/splide-core.min.css" rel="stylesheet" />
    <link href="~/node_modules/splidejs/splide/dist/css/themes/splide-default.min.css" rel="stylesheet" />
}