@using ShopLib.Models;
@{
    ViewData["Title"] = "Order";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Order", "Home", FormMethod.Post, new { @class = "login-form" }))
{
    <div class="mb-3">
        <label for="UserId" class="form-label">Choose User</label>
        <select id="UserId" name="UserId" class="form-select" aria-label="Select user" required>
            <option selected value="">Open this select menu</option>
            @foreach (var user in (List<User>)ViewData["Users"])
            {
                <option value="@user.Id">@user.FirstName @user.LastName</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label for="Info" class="form-label">Enter order information</label>
        <textarea class="form-control" id="Info" name="Info" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
}